
<div class="padding">
    <input type="text" [(ngModel)]="searchText" placeholder="Search">
</div>
<div class="padding">
    <span>{{userName}}</span>
</div>
<table class="padding margin-left">
    <tr *ngFor="let user of users | filter: searchText">
      <td (click)="userName=user.name">{{ user.name }}</td>
      <td (click)="userName=user.name">{{ user.phone }}</td>
      <td (click)="userName=user.name">{{ user.username }}</td>
      <td (click)="userName=user.name">{{ user.email }}</td>
      <td (click)="userName=user.name">{{ user.website }}</td>
    </tr>
  </table>
  